<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>transform youtube rss to vk rss format</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="jumbotron text-center">
  <div class="container">
    <h1>transform youtube rss to vk rss format</h1>
    <p>description this app</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/4adOFF/rss-vk-transformer"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
